.toy-preview{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.toy-preview .toy-labels-list{
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    place-content: center;
}

.toy-preview .toy-labels-list .toy-label{
    margin: 0.1em;
    padding: 0.4em;
    background-color:gray;
    border-radius: 1em;
}